<html>
  <head>
    <base href="/labs/Components/">
    <!-- Web Component Bundle -->
    <link href="https://unpkg.com/voyager-components@0.0.1/dist/voyager.css" rel="stylesheet">
    <script src='https://unpkg.com/voyager-components@0.0.1/dist/voyager.js'></script>
  </head>

  <body>
    <!-- Voyager Web Components -->
      <search-page>
        <vg-search-header slot="header" pageTitle="Demo"></vg-search-header>
        <vg-search-toolbar slot="toolbar"></vg-search-toolbar>
        <vg-filters slot="filters"></vg-filters>
      </search-page>
  </body>
</html>